.botao {
    text-align: left;
}

.botao button {
    background-color: #6278F7;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    border-radius: 10px;
    padding: 28px;
    border: none;
}