.formulario {
    max-width: 80%;
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    margin: 80px auto;
    border-radius: 20px;
    box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.08);

}

.formulario form{
    width: 100%;
    padding: 32px 96px;
}

.formulario form h2 {
    margin-bottom: 44px;
}