.lista-suspensa {
    margin: 24px 0;
}

.lista-suspensa label{
    display: block;
    text-align: left;
    margin-bottom: 8px; 
    font-size: 18px;
    font-weight: 600;
}

.lista-suspensa select {
    background-color: #FFF;
    border: none;
    box-shadow: 10px 10px 30px rgba(0,0,0, 0.06);
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    padding: 24px 18px;  
}